@using MedicalCenter.Web.ViewModels.MedicalExamination
@model GetMedicalExaminationViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Редактиране на медицински преглед";
}

<h1>Редактиране на медицински преглед</h1>

<h4>Доктор @Model.DoctorName - @Model.DoctorSpecialty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Doctor")
            {
                <div class="form-group">
                    <label asp-for="Diagnosis" class="control-label"></label>
                    <input asp-for="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recommendation" class="control-label"></label>
                    <input asp-for="Recommendation" class="form-control" />
                    <span asp-validation-for="Recommendation" class="text-danger"></span>
                </div>
            }
            <br>
            <div class="form-group">
                <input type="submit" value="Запис" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != "Administrator")
    {
        <a asp-action="MyExaminations">Обратно към моите медицински прегледи</a>
    }
    else
    {
        <a asp-action="Index">Обратно към всички медицински прегледи</a>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        flatpickr("#StartTime", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            minuteIncrement: 30,
        });
        flatpickr("#EndTime", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            minuteIncrement: 30
        });
    </script>
}
