@using MedicalCenter.Web.Dtos.User
@model EditDoctorDto
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "EditDoctor";
    bool isAdministrator = HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Administrator";
}

<h1>EditDoctor</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Specialty</label>
                <select asp-for="SelectedSpecialty" class="form-control" asp-items="Model.Specialties"></select>
                <span asp-validation-for="SelectedSpecialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            @if (isAdministrator)
            {
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <select asp-for="SelectedRole" class="form-control" asp-items="Model.Roles"></select>
                    <span asp-validation-for="SelectedRole" class="text-danger"></span>
                </div>
            }
            <input type="hidden" asp-for="ID" />
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Administrator")
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
