@using MedicalCenter.Web.Dtos.User
@model RegisterPatientUserDto

@{
    ViewData["Title"] = "Регистрация на пациент";
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>


<h1>Регистрация на пациент</h1>

<h4>Пациент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" type="numeric" maxlength="10" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" maxlength="20" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="SelectedDoctor" class="control-label"></label>
                <select asp-for="SelectedDoctor" class="form-control" asp-items="Model.Doctors"></select>
                <span asp-validation-for="SelectedDoctor" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Регистрация" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
