@using MedicalCenter.Web.ViewModels.Specialty
@model GetSpecialtyViewModel

@{
    ViewData["Title"] = "Детайли за докторска специалност";
}

<h1>Детайли</h1>

<div>
    <h4>Докторска специалност</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Редактиране</a> |
    <a asp-action="Index">Обратно към всички докторски специалности</a>
</div>
